.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list__item {
    margin-left: 30px;

    width: 170px;
    height: 92px;

    &:first-child {
            margin-left: 0;
        }
}

.clients-list__link {
    @extend %align-list;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: background-color 250ms var(--primary-cubic),
        color 250ms var(--primary-cubic);

        &:hover,
        &:focus {
                border-color: var(--accent-color);
                color: var(--accent-color);
            }
}

.clients-list__icon {
    fill: currentColor;
}

